# build output
dist/

# generated types
.astro/

# development documentation
.docs
docs/*

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# wrangler files
.wrangler
.dev.vars*

# cursor
.cursor

# vscode    
.vscode
bun.lockb

# Added by Claude Task Master
# Logs
logs
*.log
dev-debug.log
# Dependency directories
# Environment variables
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 

# keep task-master out
scripts/dev.js
scripts/example_prd.txt
scripts/README.md
README-task-master.md



#windsurfrules
docs/_.windsurfrules
.windsurfrules

